{
  "presets": ["es2015"],
  "plugins": ["babel-plugin-add-module-exports", "transform-react-remove-prop-types", "transform-object-rest-spread", "transform-react-jsx", "transform-class-properties"]
}